@import 'functions';

.settings {
    &__form-container {
        max-width: toRem(680);
        margin: 0 auto;
        padding: 0 toRem(80);
    }

    .line {
        margin: toRem(60) 0;
        width: 100%;
        height: 1px;
        background-color: #e0e0e0;
    }
}