@use 'functions' as *;
@use 'mixins' as *;

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(toRem(50) + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: linear-gradient(to right bottom, #7dd56f, #28b487);
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}
