@import 'mixins';
@import 'functions';

.section-reviews {
    margin-top: calc(0px - var(--section-rotate));
    padding: calc(toRem(50) + var(--section-rotate)) 0;
    position: relative;
    z-index: 1000;
    background: linear-gradient(to right bottom, #7dd56f, #28b487);
    clip-path: polygon(
      0 var(--section-rotate),
      100% 0,
      100% calc(100% - var(--section-rotate)),
      0 100%
    );

    .reviews {
        &__card {
            width: toRem(300);
            padding: toRem(40);
            background-color: var(--color-gray-1);
            border-radius: 3px;
            box-shadow: 0 toRem(15) toRem(40) rgba(0, 0, 0, 0.15);
            scroll-snap-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            height: 100%;
        }

        &__avatar {
            display: flex;
            align-items: center;
            margin-bottom: toRem(20);

            &-img {
                width: auto;
                height: toRem(45);
                border-radius: 50%;
                margin-right: toRem(15);
            }
        }

        &__user {
            font-size: toRem(15);
            font-weight: 700;
            text-transform: uppercase;
        }

        &__text {
            font-size: toRem(15);
            margin-bottom: toRem(20);
            font-style: italic;
            font-weight: 400;
        }

        &__rating {
            margin-top: auto;
            display: flex;
        }
    }
}
  