<table class="table table-striped">
  <thead>
    <tr>
      @if (config()?.showRowNumbers) {
        <th scope="col">{{ config()?.rowNumberHeader || '#' }}</th>
      }
      @for (column of columns(); track column) {
        <th
          scope="col"
          class="text-nowrap"
          [class.sortable]="column.sortable"
          (click)="sort(column)"
        >
          {{ column.header }}
          <span class="sort-icon">
            @if (column.sortable) {
              @switch (getSortDirection(column)) {
                @case ('asc') {
                  ↑
                }
                @case ('desc') {
                  ↓
                }
                @default {
                  ↓↑
                }
              }
            }
          </span>
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of data(); track item; let idx = $index) {
      <tr>
        @if (config()?.showRowNumbers) {
          <td>{{ idx + 1 }}</td>
        }
        @for (column of columns(); track column) {
          <td [class]="column.cssClass">
            @if (!column.templateRef) {
              @switch (column.type) {
                @case (TableColumnType.DATE) {
                  {{ item | cellProperty: column | date: column.format ?? 'dd.MM.yyyy' }}
                }
                @case (TableColumnType.CURRENCY) {
                  {{ item | cellProperty: column | appCurrency: column.digitsInfo }}
                }
                @default {
                  {{ item | cellProperty: column }}
                }
              }
            } @else if (column.templateRef) {
              <ng-container *ngTemplateOutlet="column.templateRef; context: { $implicit: item }">
              </ng-container>
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td class="table__empty" [colSpan]="columns().length">{{ emptyMessage() }}</td>
      </tr>
    }
  </tbody>
</table>
