<div class="detail-header">
  <div>
    <p>Reservation no.</p>
    <h2>{{ reservationNumber() }}</h2>
  </div>
  <div class="d-flex align-items-center align-self-start">
    <app-status-badge [status]="status()" />

    @if (canCancel()) {
      <button class="btn btn--small btn--outline-red" (click)="onCancelBooking()">
        Cancel booking
      </button>
    }

    @if (canBookAgain()) {
      <a [routerLink]="[flowRoutes.TOURS, tourSlug()]" class="btn btn--small btn--outline-green">
        Book again
      </a>
    }
  </div>
</div>
