<app-section-card [title]="'Cancellation details'" variant="cancelled">
  <div class="booking-cancellation">
    <div class="booking-cancellation__item">
      <p class="small">Cancelled at</p>
      <p class="small">
        <strong>{{ cancellation().cancelledAt | date: 'dd.MM.yyyy HH:mm' }}</strong>
      </p>
    </div>
    <div class="booking-cancellation__item">
      <p class="small">Cancelled by</p>
      <p class="small">
        <strong>{{ cancelledByLabel() }}</strong>
      </p>
    </div>
    @if (cancellation().reason) {
      <div class="booking-cancellation__item">
        <p class="small"><strong>Reason</strong></p>
        <p class="small">{{ cancellation().reason! | enumLabel: cancellationReasonLabel }}</p>
      </div>
    }
    @if (cancellation().note) {
      <div class="booking-cancellation__item">
        <p class="small"><strong>Note</strong></p>
        <p class="small">{{ cancellation().note }}</p>
      </div>
    }
  </div>
</app-section-card>
