<app-page-wrapper>
    <section class="profile">
        <nav class="profile__menu">
            <app-side-nav />
        </nav>
        <section class="profile__content">
            <div class="profile__form-container">
                <app-update-profile [user]="user()!" (onUpdateProfile)="updateProfile($event)" [errorMessage]="(errorMessage$ | async)!" />
            </div>
            <div class="line">&nbsp;</div>
            <div class="profile__form-container">
                <app-change-password (onChangePassword)="changePassword($event)" [errorMessage]="(errorMessage$ | async)!" />
            </div>
        </section>
    </section>    
</app-page-wrapper>