<section class="section-map">
    <google-map
        height="100%"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
    >
        @for (location of locations; track location) {
            <map-marker [position]="location.coordinates | parseCoordinates"
                        [label]="{
                            text: 'Day ' + location.day + ': ' + location.description,
                            className: 'marker-label',
                            fontFamily: 'Lato, sans-serif',
                            color: '--color-secondary'
                        }"
                        [options]="markerOptions" />
        }
    </google-map>
</section>