<ul class="side-nav">
    <li routerLinkActive="active">
        <a [routerLink]="flowRoutes.PROFILE">
            <svg><use href="/assets/images/icons.svg#icon-settings"></use></svg>
            Settings
        </a>
    </li>
    <li routerLinkActive="active">
        <a [routerLink]="flowRoutes.MY_TOURS">
            <svg><use href="/assets/images/icons.svg#icon-briefcase"></use></svg>
            My tours
        </a>
    </li>
    <li>
        <a [routerLink]="flowRoutes.MY_REVIEWS">
            <svg><use href="/assets/images/icons.svg#icon-star"></use></svg>
            My reviews
        </a>
    </li>
    <li>
        <a [routerLink]="flowRoutes.BILLING">
            <svg><use href="/assets/images/icons.svg#icon-credit-card"></use></svg>
            Billing
        </a>
    </li>
</ul>