@import 'functions';

.users {
    max-width: toRem(880);
    margin: 0 auto;
    padding: 0 toRem(80);

    .update-user {
        justify-self: end;
    }
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    margin-bottom: 3rem;
}