@use 'functions' as *;

.bookings {
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button,
    svg {
      height: toRem(19);
      width: toRem(19);
    }

    button {
      .edit-icon {
        fill: var(--color-secondary);
      }

      .remove-icon {
        fill: #b71c1c;
      }
    }
  }
}
