@use 'functions' as *;
@use 'mixins' as *;

nav {
    display: flex;
    justify-content: center;

    .pagination {

        .page-item {

            &.active {
                a {
                    border-color: var(--color-brand);
                    background-color: var(--color-brand);
                    color: var(--color-white);
                }
            }

            a {
                cursor: pointer;
            }

            &:not(.disabled):not(.active) a {
                color: var(--color-brand);
            }
        }
    }
}