@use 'functions' as *;

:host-context(cdk-dialog-container) {
  display: block;
  border-radius: toRem(5);
  background-color: var(--color-white);
  filter: drop-shadow(0 0 2em rgba(black, 0.5));
  padding: toRem(60) toRem(30);
  width: toRem(450);
}

.dates-list {
  margin: toRem(20) 0;
  display: flex;
  flex-direction: column;
  gap: toRem(10);

  input {
    display: none;

    &:checked {
      & ~ .date-label {
        color: var(--color-green);
        font-weight: 700;
      }
    }
  }

  .date-option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-gray-40);
    padding: toRem(4) toRem(14);
    border-radius: toRem(8);

    &.selected {
      border-color: var(--color-green);
      outline: 1px solid var(--color-green);
    }

    &.disabled {
      cursor: default;
      border-color: #ccc;

      .date-label {
        color: #ccc;
      }
    }

    &:hover:not(.disabled) {
      border: 1px solid var(--color-green);
      outline: 1px solid var(--color-green);

      .date-label {
        color: var(--color-green);
        font-weight: 700;
      }
    }

    .date-label {
      font-size: toRem(14);
      font-weight: 400;

      .check {
        width: toRem(16);
        height: toRem(16);
        border-radius: 50%;
        background: var(--color-brand);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: toRem(8);

        svg {
          width: toRem(10);
          height: toRem(10);
        }
      }
    }

    .tag {
      padding: toRem(4) toRem(9);
      border-radius: toRem(8);
      font-size: toRem(11);
      line-height: toRem(11);
      font-weight: 400;

      &.past {
        background: #ccc;
        color: var(--color-gray-50);
      }

      &.sold-out {
        background: #f1f1f1;
        color: var(--color-red);
      }
    }

    .spots {
      font-size: toRem(12);
      line-height: toRem(12);
      font-weight: 400;

      &.low {
        color: var(--color-orange);
      }
    }
  }
}
