<app-content-wrapper>
  <div class="booking-detail">
    @if (booking.error(); as error) {
      <app-error-message [message]="errorMessage()" />
    }
    @if (booking.isLoading()) {
      <app-loader />
    } @else if (booking.value(); as booking) {
      <app-booking-detail-header
        [reservationNumber]="booking.reservationNumber"
        [status]="booking.status"
        [paid]="booking.paid"
        [tourSlug]="booking.tour.slug"
        [canCancel]="canCancel()"
        (bookingCancelled)="cancelBooking(booking)"
      />
      @if (booking.status === bookingStatus.CANCELLED && booking.cancellation) {
        <app-booking-cancellation-details
          [cancellation]="booking.cancellation"
          [currentUserId]="user()?._id"
        ></app-booking-cancellation-details>
      }
      @if (booking.status === bookingStatus.REFUNDED && booking.refund) {
        <app-booking-refunded-details [refund]="booking.refund"></app-booking-refunded-details>
      }
      <div class="cards-grid">
        <app-section-card title="Tour">
          <app-info-card
            [title]="booking.tour.name"
            [subtitle]="booking.tour.description"
            buttonLabel="View tour ↗"
            [link]="[flowRoutes.TOURS, booking.tour.slug]"
          />
        </app-section-card>
      </div>
      <div class="box-grid">
        <app-info-box label="Price">
          {{ booking.price | currency: 'PLN' }}
        </app-info-box>
        <app-info-box label="Booked date">
          {{ booking.createdAt | date }}
        </app-info-box>
        <app-info-box label="Start date">
          {{ booking.startDate | date }}
        </app-info-box>
        <app-info-box label="Payment status">
          <span [class]="booking.paid ? 'paid' : 'unpaid'">{{
            booking.paid ? 'Paid' : 'Unpaid'
          }}</span>
        </app-info-box>
      </div>
      <app-section-card title="Guides">
        <app-guides-list [guides]="booking.tour.guides"></app-guides-list>
      </app-section-card>
    }
  </div>
</app-content-wrapper>
