<section class="section-header">
    <div class="header__hero">
        <div class="header__hero-overlay"></div>
        <img class="header__hero-img" [src]="toursImgUrl + tour.imageCover" [alt]="tour.name">
    </div>
    <div class="heading-box">
        <h1 class="heading-primary">
            <span>{{ tour.name }} Tour</span>
        </h1>
        <div class="heading-box__group">
            <div class="heading-box__detail">
                <svg class="heading-box__icon"><use href="/assets/images/icons.svg#icon-clock"></use></svg>
                <span class="heading-box__text">{{ tour.duration }} days</span>
            </div>
            <div class="heading-box__detail">
                <svg class="heading-box__icon"><use href="/assets/images/icons.svg#icon-map-pin"></use></svg>
                <span class="heading-box__text">{{ tour.startLocation.description }}</span>
            </div>
        </div>
    </div>
</section>

<section class="section-description">
    <div class="overview-box">
        <div><div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Quick facts</h2>
            <div class="overview-box__detail">
                <svg class="overview-box__icon"><use href="/assets/images/icons.svg#icon-calendar"></use></svg>
                <span class="overview-box__label">Next date</span>
                <span class="overview-box__text">{{ tour.startDates | availableDate }}</span>
            </div>
            <div class="overview-box__detail">
                <svg class="overview-box__icon"><use href="/assets/images/icons.svg#icon-trending-up"></use></svg>
                <span class="overview-box__label">Difficulty</span>
                <span class="overview-box__text">{{ tour.difficulty }}</span>
            </div>
            <div class="overview-box__detail">
                <svg class="overview-box__icon"><use href="/assets/images/icons.svg#icon-user"></use></svg>
                <span class="overview-box__label">Participants</span>
                <span class="overview-box__text">{{ tour.maxGroupSize }} people</span>
            </div>
            <div class="overview-box__detail">
                <svg class="overview-box__icon"><use href="/assets/images/icons.svg#icon-star"></use></svg>
                <span class="overview-box__label">Rating</span>
                <span class="overview-box__text">{{ tour.ratingsAverage }} / 5</span>
            </div>
        </div>
        <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Your tour guides</h2>
            @for (guide of tour.guides; track guide._id) {
                <div class="overview-box__detail">
                    <img class="overview-box__img" [src]="usersImgUrl + guide.photo" [alt]="guide.name">
                    <span class="overview-box__label">{{ guide.role | role }}</span>
                    <span class="overview-box__text">{{ guide.name }}</span>
                </div>
            } @empty {
                Empty list of guides
            }
        </div>
    </div>
    </div>
    <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg">About {{ tour.name }} tour</h2>
        @for (p of tour.description | splitParagraph; track tour.id) {
            <p class="description__text">{{ p }}</p>
        }
    </div>
</section>

<section class="section-pictures">
    @for (image of tour.images; track tour.id; let i = $index) {
        <div class="picture-box">
            <img [class]="'picture-box__img picture-box__img--' + (i + 1)"
                [src]="toursImgUrl + image"
                [alt]="'The Park Camper Tour ' + (i + 1)">
        </div>
    }
</section>

<app-tour-map [locations]="tour.locations" />

@if (tour.reviews.length) {
    <app-tour-reviews [reviews]="tour.reviews" />
}

@if (!isTourBooked()) {

    @if (isAvailable()) {    
        <app-book-tour [(selectedDate)]="selectedDate" [tour]="tour" />
    }

    <app-cta-section
        header="What are you waiting for?"
        [description]="tour.duration + ' days. 1 adventure. Infinite memories. Make it yours today!'"
        [images]="tour.images.slice(1, 3)"
    >
        @if (isLoggedIn) {
            <button class="btn btn--green span-all-rows" [ngClass]="{'disabled': !selectedDate }" [disabled]="!selectedDate"  (click)="bookTour()">
                @if (isProccessingPayment()) {
                    Processing...
                } @else {
                    Book tour now!
                }
            </button>
        } @else {
            <a class="btn btn--green span-all-rows" [routerLink]="flowRoutes.LOGIN" [queryParams]="{ returnUrl: router.url }">Log in to book tour</a>
        }
    </app-cta-section>
}

@if (isLoggedIn && isTourBooked() && !isTourRewieved()) {
    <app-cta-section
        header="You booked this Tour!"
        description="Please share your opinion about this tours whit us!"
        [images]="tour.images.slice(1, 3)"
    >
        <a class="btn btn--green span-all-rows" [routerLink]="flowRoutes.ADD_REVIEW" [queryParams]="{ user: user._id , tour: tour.id }">Add review</a>
    </app-cta-section>
}