@use 'functions' as *;

.role-badge {
  padding: toRem(5) toRem(15);
  border-radius: toRem(5);
  font-size: toRem(10);
  font-weight: 700;
  color: var(--color-white);

  &.lead-guide {
    background: #0f766e;
  }

  &.guide {
    background: #15803d;
  }

  &.user {
    background: #6b7280;
  }

  &.admin {
    background: #b91c1c;
  }
}
