<app-modal-layout
  heading="Cancel booking"
  [subheading]="
    'Are you sure you want to cancel booking <strong>' +
    booking.reservationNumber +
    '</strong>? Please select a cancellation reason (required) and optionally add a note with additional details.'
  "
  cancelText="back"
  confirmText="cancel"
  confirmClass="btn--red"
  [error]="error()"
  [isLoading]="isLoading()"
  (cancelled)="dialogRef.close()"
  (confirmed)="onConfirm()"
>
  <div class="cancellation-form">
    <mat-form-field>
      <mat-label>Reason</mat-label>
      <mat-select
        placeholder="Select reason"
        [(ngModel)]="reason"
        name="reason"
        required
        #reasonSelect="ngModel"
      >
        @for (reason of cancellationReason; track reason) {
          <mat-option [value]="reason">
            {{ reason | enumLabel: cancellationReasonLabel }}
          </mat-option>
        }
      </mat-select>
      @if (reasonSelect.invalid && reasonSelect.touched) {
        <mat-error>Reason is required</mat-error>
      }
    </mat-form-field>

    <div class="form__group">
      <label class="form__label" for="note">Note</label>
      <textarea class="form__input" id="note" [(ngModel)]="note"></textarea>
    </div>
  </div>
</app-modal-layout>
