@if (control(); as control) {
    <select [formControl]="control" class="form-select" aria-label="Roles select" (change)="onSelectionChange($event)">
        @for (option of options(); track $index) {
            <option [value]="option">{{ option }}</option>
        }
    </select>
} @else {
    <select class="form-select" aria-label="Roles select" (change)="onSelectionChange($event)">
        <option value="" disabled selected hidden>Select role</option>
        <option [ngValue]="null">all</option>
        @for (option of options(); track $index) {
            <option [value]="option">{{ option }}</option>
        }
    </select>
}