@import 'functions';

:host-context(cdk-dialog-container) {
    display: block;
    border-radius: toRem(5);
    background-color: var(--color-white);
    filter: drop-shadow(0 0 2em rgba(black, 0.5));
    padding: toRem(60) toRem(30);
    width: toRem(600);
}