@use 'functions' as *;

.detail-header {
  display: flex;
  justify-content: space-between;

  h2 {
    font-weight: 700;
    font-size: toRem(22.5);
  }

  p {
    font-weight: 400;
    font-size: toRem(14);
  }

  .btn {
    margin-left: toRem(5);

    &--outline {
      svg {
        transition: all 0.4s;
        fill: var(--color-gray-50);
      }

      &:hover {
        svg {
          fill: var(--color-white);
        }
      }
    }

    &--delete {
      min-width: auto;
      color: var(--color-white);
      background-color: #b71c1c;
      border: 1px solid #b71c1c;

      &:hover {
        background-color: #9b1414;
        border-color: #9b1414;
      }
    }
  }
}
