<div class="countdown">
  <div class="countdown__item">
    <p class="countdown__value">{{ days() }}</p>
    <p class="countdown__label">Days</p>
  </div>
  <div class="countdown__item">
    <p class="countdown__value">{{ hours() }}</p>
    <p class="countdown__label">Hours</p>
  </div>
  <div class="countdown__item">
    <p class="countdown__value">{{ minutes() }}</p>
    <p class="countdown__label">Minutes</p>
  </div>
  <div class="countdown__item">
    <p class="countdown__value">{{ seconds() }}</p>
    <p class="countdown__label">Seconds</p>
  </div>
</div>
