<app-section-card [title]="'Refunded details'" variant="refunded">
  <div class="booking-refunded">
    <div class="booking-refunded__item">
      <p class="small">Cancelled at</p>
      <p class="small">
        <strong>{{ refund().refundedAt | date: 'dd.MM.yyyy HH:mm' }}</strong>
      </p>
    </div>
    <div class="booking-refunded__item">
      <p class="small">Refunded by</p>
      <p class="small">
        <strong>{{ refundedByLabel() }}</strong>
      </p>
    </div>
    <div class="booking-refunded__item">
      <p class="small">Amount</p>
      <p class="small">
        <strong>{{ refund().amount | currency: 'PLN' }}</strong>
      </p>
    </div>
    @if (refund().reason) {
      <div class="booking-refunded__item">
        <p class="small">Reason</p>
        <p class="small">
          <strong>{{ refund().reason! | enumLabel: refundReasonLabel }}</strong>
        </p>
      </div>
    }
    @if (refund().note) {
      <div class="booking-refunded__item">
        <p class="small">Note</p>
        <p class="small">
          <strong>{{ refund().note }}</strong>
        </p>
      </div>
    }
  </div>
</app-section-card>
