<app-section-card [title]="'Refunded details'" variant="refunded">
  <div class="total-refund">
    <p class="small fw-bolder">Total refunded</p>
    <p class="small fw-bolder">{{ totalRefund() | currency: 'PLN' }}</p>
  </div>
  <ul class="refund-list">
    @for (refund of visibleRefunds(); track refund._id; let i = $index) {
      <li class="refund-list__item">
        <app-refund-item [refund]="refund" [isAdminView]="isAdminView()" />
      </li>
    }
    @if (refunds().length > INITIAL_LIMIT) {
      <button class="btn btn--small btn--outline w-100" (click)="toggleList()">
        {{ isExpanded() ? 'Show less' : `Show more (${remainingCount()} remaining)` }}
      </button>
    }
  </ul>
</app-section-card>
