<div [formGroup]="changePasswordForm" class="change-password-form" (ngSubmit)="onSubmit()">
    <h2 class="heading-secondary ma-bt-lg">Password change</h2>
    <div class="error-message mt-5 mb-5 text-center">
        {{ errorMessage() }}
    </div>
    <form class="form form--change-password">
        <div class="form__group">
            <label class="form__label" for="passwordCurrent">Current password</label>
            <input class="form__input" id="passwordCurrent" type="password" formControlName="passwordCurrent" name="passwordCurrent" placeholder="••••••••">
            <app-control-error controlName="passwordCurrent" />
        </div>
        <div class="form__group">
            <label class="form__label" for="password">New password</label>
            <input class="form__input" id="password" type="password" formControlName="password" name="password" placeholder="••••••••">
            <app-control-error controlName="password" />
        </div>
        <div class="form__group">
            <label class="form__label" for="passwordConfirm">Confirm password</label>
            <input class="form__input" id="passwordConfirm" type="password" formControlName="passwordConfirm" name="passwordConfirm" placeholder="••••••••">
            <app-control-error controlName="passwordConfirm" />
        </div>
        <div class="form__group right">
            <button class="btn btn--green">
                Save password
            </button>
        </div>
    </form>
</div>