<header class="header">
    <nav class="nav nav--tours">
        <a class="nav__el" href="/">All tours</a>
    </nav>
    <div class="header__logo">
        <img src="assets/images/logo-white.png" alt="Natours logo">
    </div>
    <nav class="nav nav--user">
        <a class="nav__el" href="/login">Log in</a>
        <a class="nav__el nav__el--cta" href="#">Sign up</a>
        <!-- <a class="nav__el nav__el--logout">Log out</a>
        <a class="nav__el" href="/me">
            <img class="nav__user-img" src="/img/users/user-65521fb2af85273e8c094235-1699885985519.jpeg" alt="Photo of Maciej">
            <span>Maciej</span>
        </a> -->
    </nav>
</header>