@use 'functions' as *;

.form-switch {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: toRem(24);

  .form-check-input {
    margin: 0;
    cursor: pointer;
    width: toRem(44);
    height: toRem(24);
    border-radius: toRem(8);

    &:checked {
      background-color: var(--color-green);
      border-color: var(--color-green);
    }

    &:focus {
      box-shadow: none;
      border-color: #dee2e6;
      --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000000' opacity='0.25'/%3e%3c/svg%3e");
    }
  }

  .form-check-label {
    cursor: pointer;
    padding: 0 0 0 toRem(10);
  }

  .spinner-border {
    margin-left: toRem(25);
  }
}
