/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap-utilities';

@import 'variables';
@import 'typography';
@import 'functions';

:root {
    --section-rotate: 9vw;
  }
  
  ::-moz-selection {
    background-color: $primary-color;
    color: $white-color;
  }
  
  ::selection {
    background-color: $primary-color;
    color: $white-color;
  }
  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: $secondary-color;
    padding: toRem(30);
}