/* You can add global styles to this file, and also import other style files */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

@import '../node_modules/bootstrap/scss/bootstrap-utilities';

@import 'variables';
@import 'typography';
@import 'buttons';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-brand);
  color: var(--color-white);
}
  
::selection {
  background-color: var(--color-brand);
  color: var(--color-white);
}

html {
  font-size: var(--root-font-size-fixed, 62.5%);
  font-size: 10px;
  font-size: calc(var(--root-font-size-fixed-factor) * var(--root-font-size-fixed, 62.5%) + var(--root-font-size-fluid-factor) * var(--root-font-size-px) / 1440 * 100vw);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding: var(--root-scroll-padding, 180px);
  overflow-x: hidden
}

body {
  line-height: var(--line-height-default);
  font-family: var(--font-family);
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-default);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}