/* You can add global styles to this file, and also import other style files */

:root {
    --section-rotate: 9vw;
  }
  
  ::-moz-selection {
    background-color: #55c57a;
    color: #fff;
  }
  
  ::selection {
    background-color: #55c57a;
    color: #fff;
  }
  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
}