<section class="section">
    <h2 class="heading-secondary w-100 text-center mb-5">Selected your tour date</h2>
    <mat-select placeholder="Select date" [(ngModel)]="selectedDate" name="item" #select>
        <mat-option *ngFor="let date of tour().startDates"
                    [value]="date.date"
                    [disabled]="date.participants === tour().maxGroupSize || isPrev(date.date)"
                    [ngClass]="{ 'text-danger': date.soldOut }"
        >
            {{ date.date | date: 'dd MMMM YYYY' }}

            @if (date.soldOut) {
                ***Sold out!***
            }
            @if (tour().maxGroupSize - date.participants === 1) {
                <span class="text-warning">***Last place left!***</span>
            }
            @if (!isPrev(date.date) && tour().maxGroupSize - date.participants > 1) {
                <span class="text-success">***{{ tour().maxGroupSize - date.participants }} places left!***</span>
            }
        </mat-option>
    </mat-select>
</section>