@import 'functions';
@import 'mixins';

.profile {
    background-color: var(--color-white);
    max-width: toRem(1200);
    margin: 0 auto;
    min-height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: flex;

    &__menu {
        flex: toRem(320) 0 0;
        background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
        padding: toRem(40) 0;
    }

    &__content {
        flex: 1;
        padding: toRem(70) 0;
        position: relative;
    }
  }