@use 'functions' as *;

.error {
    text-align: center;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: toRem(10);
    }

    &__emoji {
        font-size: toRem(37.5);
        margin-left: toRem(10);
    }

    &__msg {
        font-size: toRem(25);
        font-weight: 700;
        max-width: toRem(500);
        margin: 0 auto;
    }
}