@use 'functions' as *;

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.btn {
  font-size: toRem(16);
  line-height: toRem(16);
  padding: toRem(14) toRem(30);
  border-radius: toRem(100);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  min-width: toRem(110);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--green {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  &--gray {
    background-color: var(--color-gray-40);
    color: var(--color-white);
  }

  &--red {
    background-color: #b71c1c;
    color: var(--color-white);
  }

  &--outline {
    border: 1px solid var(--color-gray-50);
    color: var(--color-gray-50);

    &:hover {
      background-color: var(--color-gray-50);
      color: var(--color-gray-1);
    }

    &-red {
      border: 1px solid #b71c1c;
      border-color: #b71c1c;
      color: #b71c1c;

      &:hover {
        background-color: #b71c1c;
        color: var(--color-gray-1);
      }
    }

    &-green {
      background-color: var(--color-green);
      border: 1px solid var(--color-green);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-white);
        color: var(--color-green);
      }
    }

    &-yellow {
      border: 1px solid #f59e0b;
      color: #f59e0b;

      &:hover {
        background-color: #f59e0b;
        color: var(--color-white);
      }
    }
  }

  &--medium {
    padding: toRem(12.5) toRem(30);
    font-size: toRem(14);
    line-height: toRem(14);
  }

  &--small {
    padding: toRem(8) toRem(20);
    font-size: toRem(12);
    line-height: toRem(12);
    border-radius: toRem(8);
    text-transform: none;
  }

  &:hover:not(.disabled):not(:disabled):not(.btn--outline):not(.btn--outline-red):not(
      .btn--delete
    ):not(.btn--outline-green):not(.btn--outline-yellow) {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.6;
  }
}
