@import 'functions';

.btn {  
    font-size: toRem(16);
    padding: toRem(14) toRem(30);
    border-radius: toRem(100);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    font-weight: 400;
    backface-visibility: hidden;

    &--green {
        background-color: var(--color-green);
        color: var(--color-white);
    }

    &--small {
        padding: toRem(12.5) toRem(30);
        font-size: toRem(14);
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
}