@use 'functions' as *;

.form {
    &__group {
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }

        &.right {
            text-align: right;
        }
    }

    &__label {
        display: block;
        font-size: toRem(16);
        font-weight: 700;
        margin-bottom: toRem(7.5);
    }

    &__input {
        display: block;
        font-family: inherit;
        font-size: toRem(15);
        color: inherit;
        padding: toRem(12.5) toRem(17.5);
        border: none;
        width: 100%;
        background-color: #f2f2f2;
        border-top: toRem(3) solid transparent;
        border-bottom: toRem(3) solid transparent;
        transition: all 0.3s;
        border-radius: toRem(4);
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-bottom: toRem(3) solid var(--color-brand);
        }

        &::-webkit-input-placeholder {
            color: #bbb;
        }

        &.invalid,
        &.ng-touched.ng-invalid {
            border-bottom: toRem(3) solid #ff7730; 
        }
    }

    &__photo-upload {
        display: flex;
        align-items: center;
        font-size: toRem(16);
    }

    &__upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
            color: var(--color-brand);
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid var(--color-brand);
            padding: toRem(3);
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                background-color: var(--color-brand);
                color: var(--color-white);;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
                transform: translateY(-2px);
            }
        }
    }

    &__user-photo {
        height: toRem(75);
        width: toRem(75);
        border-radius: 50%;
        margin-right: toRem(20);
    }
}

.error-message {
    font-weight: 700;
    color: #ff7730;
}