@use 'functions' as *;

h1 {
    font-weight: bold;
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-weight: bold;
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-weight: bold;
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4 {
    font-weight: bold;
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

h5 {
    font-weight: bold;
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}

h6 {
    font-weight: bold;
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

.heading-secondary {
    font-size: toRem(22.5);
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: toRem(1);
    line-height: 1.3;
    display: inline-block;

    &--error {
        background-image: linear-gradient(to right, #ff7730, #eb4d4b);
        font-size: toRem(35);
    }
}